.navbar-brand {
    font-size: 3rem;
    font-weight: bold;
}

ul {
    list-style: none;
}

.col-xs-4 {
    background-color: #66C0DA ;
}

.favorable {
    background-color: #8FBC8F
}

.moderate {
    background-color: #FF7F50;
}

.high {
    background-color:#FF4500;
}

.extreme {
    background-color: red;
}
